.link {
    margin-right: 0.5rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.25rem;

    &:hover {
        color: #3b82f6;
        background-color: rgba(59, 130, 246, 0.3);
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 0.25rem;
    }

    transition: all 0.3s ease;

}

.active-link {
    color: #3b82f6;
    background-color: rgba(59, 130, 246, 0.3);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
}